<div class="{{styles.users-area__user-cell}}">
  <div class="{{styles.users-area-user-cell__avatar}}">
  </div>
  <div class="{{styles.users-area-user-cell__data}}">
    <div class="{{styles.users-area-user-cell-data__name-label}}"><b
      >{{name}}</b></div>
    <div
      class="{{styles.users-area-user-cell-data__messege-label}}"
    >{{message}}</div>
  </div>
  <div class="{{styles.users-area-user-cell__info}}">
    <div
      class="{{styles.users-area-user-cell-info__time-label}}"
    >{{time}}</div>
    <div class="{{styles.users-area-user-cell-info__count-label}}">
      <div class="{{styles.users-area-user-cell-info-count-label__text}}">
        {{messageCount}}
      </div>
    </div>
  </div>
</div>