<div class="{{styles.message-area__input-area}}">
  <div class="{{styles.message-area-input-area__attach-wrapper}}">
    {{{attachIcon}}}
  </div>
  <div class="{{styles.message-area-input-area__input-wrapper}}">
    {{{input}}}
  </div>
  <div class="{{styles.message-area-input-area__button-wrapper}}">
    {{{sendIcon}}}
  </div>
</div>