<div class="{{styles.message-area__input-area}}">
  <div class="{{styles.message-area__input-area_attach-wrapper}}">
    {{{attachIcon}}}
  </div>
  <div class="{{styles.message-area__input-area_input-wrapper}}">
    {{{input}}}
  </div>
  <div class="{{styles.message-area__input-area_button-wrapper}}">
    {{{sendIcon}}}
  </div>
</div>