<div class="{{styles.page}}">
  <div class="{{styles.chat-area}}">
    <div class="{{styles.menu-area}}">
      <div class="{{styles.align-area}}">
        {{{myUserArea}}}
        {{{usersArea}}}
      </div>
    </div>
    {{{messageArea}}}
  </div>
</div>
