<div class="{{styles.message-area-conversation-area__my-message-wrapper}}">
  <div class="{{styles.message-area-conversation-area__my-message}}">
    {{message}}
    <div class="{{styles.message-area-conversation-area__info}}">
      <img
        class="{{styles.message-area-conversation-area__checked}}"
        src="{{checked}}"
        alt="checked"
        width="15"
        height="15"
      />
      <div class="{{styles.message-area-conversation-area__my-time}}">
        {{time}}
      </div>
    </div>
  </div>
</div>
