<div class="{{styles.page}}">
  <div class="{{styles.change-data-area}}">
    <div class="{{styles.personal-area}}">
      <div class="{{styles.personal-area__avatar-wrapper}}">
        {{{avatar}}}
      </div>
      <div class="{{styles.personal-area__label-wrapper}}">
        {{{name}}}
      </div>
    </div>
    <div class="{{styles.align-area}}">
      <div class="{{styles.label-area}}">
        {{{pageTitle}}}
      </div>
      <div>
        <div class="{{styles.user-data}}">
          {{#each dataFields}}
            {{{this}}}
          {{/each}}
          <div class="{{styles.link-spacer}}">
          </div>
          <div class="{{styles.avatar-input-area}}">
            {{{fileInput}}}
            {{{submitAvatarButton}}}
          </div>
          <div class="{{styles.link-spacer}}">
          </div>
          {{{changeDataLink}}}
          <div class="{{styles.link-spacer}}">
          </div>
          {{{changePassLink}}}
          <div class="{{styles.link-spacer}}">
          </div>
          {{{logoutLink}}}
        </div>
      </div>
    </div>
  </div>
</div>
