<div class="{{styles.page}}">
  <div class="{{styles.change-data-area}}">
    <div class="{{styles.personal-area}}">
      <div class="{{styles.personal-area__avatar-wrapper}}">
        <img
          class="{{styles.personal-area__avatar}}"
          src="../../static/foto.jpg"
          alt="ava"
        />
      </div>
      <div class="{{styles.personal-area__label-wrapper}}">
        {{{name}}}
      </div>
    </div>
    <div class="{{styles.align-area}}">
      <div class="{{styles.label-area}}">
        {{{pageTitle}}}
      </div>
      <div>
        <div class="{{styles.user-data}}">

          {{#each dataFields}}
            {{{this}}}
          {{/each}}
          {{!-- {{> userDataField key="Имя пользователя" value="AlexR" }}
          {{> userDataField key="Почта" value="alexraykov200@gmail.com" }}
          {{> userDataField key="Имя" value="Александр" }}
          {{> userDataField key="Фамилия" value="Райков" }}
          {{> userDataField key="Телефон" value="+7 (981) 978-70-40" }} --}}
        </div>
      </div>
    </div>
  </div>
</div>
