<div class="{{styles.page}}">
  <div class="{{styles.change-data-area}}">
    <div class="{{styles.personal-area}}">
      <div class="{{styles.personal-area__avatar-wrapper}}">
        <img
          class="{{styles.personal-area__avatar}}"
          src="../../static/foto.jpg"
          alt="ava"
        />
      </div>
      <div class="{{styles.personal-area__label-wrapper}}">
        {{{name}}}
      </div>
    </div>
    <div class="{{styles.align-area}}">
      <div class="{{styles.label-area}}">
        {{{pageTitle}}}
      </div>
      <div>
        <div class="{{styles.user-data}}">
          {{#each dataFields}}
            {{{this}}}
          {{/each}}
          <div class="{{styles.link-spacer}}">
          </div>
          {{{changeDataLink}}}
         <div class="{{styles.link-spacer}}">
          </div>
          {{{changePassLink}}}
        </div>
      </div>
    </div>
  </div>
</div>
