<div class="{{styles.message-area-conversation-area__user-message-wrapper}}">
  <div class="{{styles.message-area-conversation-area__user-message}}">
    {{text}}
    <div class="{{styles.message-area-conversation-area__user-time}}">
      {{time}}
    </div>
  </div>
</div>
