<form class="{{styles.change-data-form}}">
{{{mailInput}}}
  <div class="{{styles.change-data-form__helper-wrapper}}">
    {{{mailHelper}}}
  </div>
  {{{loginInput}}}
  <div class="{{styles.change-data-form__helper-wrapper}}">
    {{{loginHelper}}}
  </div>
  {{{nameInput}}}
  <div class="{{styles.change-data-form__helper-wrapper}}">
    {{{nameHelper}}}
  </div>
  {{{lastNameInput}}}
  <div class="{{styles.change-data-form__helper-wrapper}}">
    {{{lastNameHelper}}}
  </div>
  {{{chatNameInput}}}
  <div class="{{styles.change-data-form__helper-wrapper}}">
    {{{chatNameHelper}}}
  </div>
  {{{phoneInput}}}
  <div class="{{styles.change-data-form__helper-wrapper}}">
    {{{phoneHelper}}}
  </div>

  {{{button}}}

</form>

 