<form class="{{styles.change-data-form}}">
  {{{passwordInput}}}
  <div class="{{styles.change-pass-form__helper-wrapper}}">
    {{{passwordHelper}}}
  </div>
  {{{repeatepasswordInput}}}
  <div class="{{styles.change-pass-form__helper-wrapper}}">
    {{{repeatHelper}}}
  </div>
  {{{button}}}
</form>
