<div class="{{styles.message-area__personal-area}}">
  <div class="{{styles.message-area__personal-area__avatar-wrapper}}">
    <img
      class="{{styles.message-area__personal-area__avatar}}"
      src="../../../static/foto.jpg"
      alt="ava"
    />
  </div>
  <div class="{{styles.message-area__personal-area__label-wrapper}}">
    <p class="{{styles.message-area__personal-area__label}}"><b>{{name}}</b></p>
  </div>
</div>