<div class="{{styles.page}}">
  <div class="{{styles.register-area}}">
    <div class="{{styles.align-area}}">
      <div class="{{styles.label-area}}">
        {{{mainLabel}}}
      </div>
      <div>
        {{{singupForm}}}
      </div>
    </div>
  </div>
</div>
