<form class="{{styles.singup-form}}">
  {{{mailInput}}}
  {{{loginInput}}}
  {{{nameInput}}}
  {{{lastNameInput}}}
  {{{phoneInput}}}
  {{{passwordInput}}}
  {{{repeatPasswordInput}}}
  {{{button}}}
</form>
