<form class="{{styles.singin-form}}">
  {{{mailInput}}}
  {{{loginInput}}}
  {{{nameInput}}}
  {{{lastNameInput}}}
  {{{passwordInput}}}
  {{{repeatPasswordInput}}}
  {{{button}}}
</form>


       
       
 {{!-- <form class="singin-form">
          <input
            class="singin-form__input"
            id="mail"
            name="mail"
            placeholder="Почта"
          />
          <input
            class="singin-form__input"
            id="login"
            name="login"
            placeholder="Имя пользователя"
          />
          <input
            class="singin-form__input"
            id="name"
            name="name"
            placeholder="Имя"
          />
          <input
            class="singin-form__input"
            id="lastname"
            name="lastname"
            placeholder="Фамилия"
          />
          <input
            class="singin-form__input"
            id="password"
            name="password"
            placeholder="Пароль"
          />
          <input
            class="singin-form__input"
            id="repeatepassword"
            name="repeatepassword"
            placeholder="Повторите пароль"
          />
          <button class="singin-form__button">Войти</button>
        </form> --}}