<form class="{{styles.singin-form}}">
  {{{loginInput}}}
  <div class="{{styles.singin-form__helper-wrapper}}">
    {{{loginHelper}}}
  </div>
  {{{passwordInput}}}
  <div class="{{styles.singin-form__helper-wrapper}}">
    {{{passwordHelper}}}
  </div>
  {{{button}}}
</form>
