---
chatStartPage: Стартовая страница
chatPage: Страница чатов
registration: Регистрация
changeData: Изменение данных
userData: Данные пользователя
changePass: Изменение данных
notFound: Не найдено
serverError: Ошибка сервера
enter: Войти
---

<html>
  <head>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <div class="register-area">
        <div class="align-area">
          <div class="label-area">
             {{> mainPageLabel label="Item Messanger" }}
             {{> mainPageLabel label="Вход" }}
          </div>
          <div>
            <form class="singin-form">
              <input class="singin-form__input" id="login" name="username" placeholder="Введите имя пользователя"/>
              <input class="singin-form__input" id="password" name="password" placeholder="Введите пароль"/>
              <button class="singin-form__button">{{enter}}</button>
            </form>
          </div>
          <div>
            <a href="views/regPage.hbs" class="label-area__link-label ">{{registration}}</a>
          </div>
        </div>
      </div>
    </div>
        <a href="views/regPage.hbs">{{registration}}</a><br/>
        <a href="views/chatPage.hbs">{{chatPage}}</a><br/>
        <a href="views/chatStartPage.hbs">{{chatStartPage}}</a><br/>
        <a href="views/changeDataPage.hbs">{{changeData}}</a><br/>
        <a href="views/userDataPage.hbs">{{userData}}</a><br/>
        <a href="views/changePassPage.hbs">{{changePass}}</a><br/>
        <a href="views/notFoundPage.hbs">{{notFound}}</a><br/>
        <a href="views/serverErrorPage.hbs">{{serverError}}</a><br/>
  </body>
</html>
